.footer-container {
  background-color: lightgray;
  text-align: center;

  padding-top: 15px;
  padding-bottom: 15px;

  margin: 0px;

  margin-top: 100px;

  font-family: "Nanum Gothic", sans-serif;

  line-height: 2;
  letter-spacing: 0.8px;
  word-spacing: 0.5px;
}

.footer-container img {
  opacity: 0.5;
  width: 200px;
}
