.nav-button {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

.nav-container {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  height: 180px;

  padding-top: 30px;
}

.nav-container-logo {
  font-family: "Jua", sans-serif;
  font-size: 40px;
  /* height: 100%; */
}
.nav-container-navs {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-family: "Nanum Gothic", sans-serif;
  font-size: 20px;
  font-weight: 700;

  width: 600px;
}

.nav-container-navs > li {
  padding: 0px 30px;
}

.nav-container-icons {
  /* font-size: 28px; */
  display: flex;
  flex-direction: row;
}

.nav-container-icons li {
  padding: 0px 10px;
}

.nav-container-icons li i {
  font-size: 27px;
}

.nav-bar-sub {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 18px;
  top: 40px; /* fixed! */
  /* left: 150px; */

  width: 600px;
  padding: 10px;
  /* border-top: black 2px solid; */
}

.nav-bar-sub > div {
  display: flex;
  flex-direction: row;
}

.nav-bar-sub li {
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.nav-bar-sub li a {
  color: gray;
}

.nav-bar-sub li a:hover {
  color: black;
}