* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
}

#root {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}
nav {
  width: 1300px;
}

.footer-container {
  width: 100%;
}

img {
  max-width: 100%;
}

.home-root,
.intro1,
.intro2,
.intro3,
.proj1,
.proj2,
.proj3 {
  width: 1300px;
}

@media (max-width: 768) {
  body {
    width: 100%;
    padding: 10px 10px;
  }
}
